{{- with .Scratch.Get "Title" }}
<meta property="og:title" content="{{ . }}" />
{{- end }}
{{- with .Scratch.Get "Description" }}
<meta property="og:description" content="{{ . }}">
{{- end }}
{{- with .Scratch.Get "Image" }}
<meta property="og:image" content="{{ . }}" />
{{- end }}
{{- with .Site.Params.fb_app_id }}
<meta property="fb:app_id" content="{{ . }}" />
{{- end }}
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
