{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ if .Params.image }}
          {{ with .Resources.GetMatch .Params.image }}
            <img src="{{ .RelPermalink }}" class="img-title" alt="{{$.Title}}" />
          {{ end }}
        {{ end }}

        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
	{{ if eq .Section "post" }}
	<div class="order-mention">
		<p>
		<a href="{{ .Site.BaseURL }}">
		<i class="fas fa-sort"></i>
		Triez par date de récit&nbsp;
		<i class="fas fa-calendar"></i>
		</a>
		</p>
	</div>
        {{ end }}
        <div class="posts-list">
          {{ range (.Paginate (.Pages.ByPublishDate.Reverse)).Pages }}
            {{ partial "post_preview.html" .}}
          {{ end }}
        </div>
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/" rel="nofollow">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/" rel="nofollow">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
