{{- partial "scratch_variables" . }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<!-- Site Title, Description, Author, and Favicon -->
  <title>{{ .Scratch.Get "FullTitle" }}</title>
  <meta name="description" content="{{ .Scratch.Get "Description" }}">
  <meta name="author" content="{{ .Scratch.Get "Author" }}"/>
{{- partial "seo/main.html" . }}  
{{- with .Site.Params.favicon }}
  <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
{{- end -}}
<!-- Hugo Version number -->
  {{ hugo.Generator -}}
<!-- Links and stylesheets -->
  <link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">

  <!-- Bundle needed by all pages. -->
  {{ $bootstrap := resources.Get "css/bootstrap.min.css" }}
  {{ $maincss := resources.Get "css/main.css" | minify }}
  {{ $bundle_for_all := slice $bootstrap $maincss | resources.Concat "css/bundle-for-all.css" }}
  <link rel="stylesheet" href="{{ $bundle_for_all.Permalink }}" />

  {{- if .Site.Params.staticman -}}
  <link rel="stylesheet" href="{{ "css/staticman.css" | absURL }}" />
  {{- end -}}

  {{- if .Site.Params.selfHosted -}}
  <link rel="stylesheet" href="{{ "css/fonts.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "fontawesome/css/all.css" | absURL }}" />
  {{- else -}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  {{- end -}}

  {{- if .Site.Params.staticman.recaptcha -}}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  {{- end -}}

  <!-- Photoswipe bundle -->
  {{- if (eq .Kind "page") }} 
  {{ $photo1 := resources.Get "css/photoswipe.min.css" }}
  {{ $photo2 := resources.Get "css/photoswipe.default-skin.min.css" }}
  {{ $bundle_photo := slice $photo1 $photo2 | resources.Concat "css/bundle-photo.css" }}
  <link rel="stylesheet" href="{{ $bundle_photo.Permalink }}" />
  {{- end -}}

{{- partial "head_custom.html" . }}
{{ template "_internal/google_analytics_async.html" . }}
