{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

	      {{ with .Site.Author.facebook }}
	      <div id="fb-root"></div>
	      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
	      <center>
              <div class="fb-like" data-href="https://facebook.com/{{.}}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
              </center>
              {{ end }}

        {{ with .Content }}
	  <div class="snippet-container">
          <div class="snippet-background"></div>
          <div class="snippet-content">
          {{ . }}
          </div>
	  </div>
        {{ end }}


	<div class="order-mention">
		<p>
		<a href="/post">
		<i class="fas fa-sort"></i>
		Triez par date de publication&nbsp;
		<i class="fas fa-calendar"></i>
		</a>
		</p>
	</div>
        
	<div class="posts-list">
          {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
          {{ range $pag.Pages.ByDate.Reverse }}
            {{ partial "post_preview" . }}
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/" rel="nofollow">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/" rel="nofollow">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
